[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.109.0"
uvicorn = "~=0.27.0"
redis = "~=5.0.1"
click = "~=8.1.7"
httpx = "~=0.26.0"
pydantic = "~=2.5.3"

[dev-packages]
pytest = "~=8.0.0"
fakeredis = {version = "~=2.21.0", extras = ["lua"]}
pytest-asyncio = "~=0.23.5"

[requires]
python_version = "3.12"
